@model PetCatalog.MVC.ViewModels.CommentViewModel

<div class="comment-table-div">
    <form asp-controller="Comments" asp-action="AddComment" asp-route-id="@Model.AnimalId" enctype="multipart/form-data" method="post" style="height:100%">

        <table width="100%" height="100%">
            <thead>
                <tr>
                    <td>
                        <label asp-for="Value"><strong>Add Comment:</strong></label>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td height="80%">
                        <textarea type="text" asp-for="Value" style="width:100%;height:10vw;resize:none"></textarea>
                    </td>                   
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <button type="submit" style="margin:10px auto;" class="btn">Add</button>
                    </td>
                </tr>
            </tfoot>                   
        </table>
    </form>
</div>