@model IEnumerable<PetShop.Application.ViewModels.CategoryViewModel>
@{
    ViewBag.CatalogClss = "active";
    ViewBag.Title = "Catalog";
    ViewBag.EnableCommentDelete = false;
}
<script src="~/scripts/CategorySelect.js"></script>
<script src="~/scripts/AnimalView.js"></script>

<link href="~/styles/CatalogStyle.css" rel="stylesheet" />
<div>

    <table>
        <thead>
            <tr>
                <td>
                    <select id="cata-select" asp-items="@(new SelectList(Model,"CategoryId","Name"))" >
                        <option value="-1" selected>All</option>
                    </select>
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach(var cata in Model)
            {
                <tr class="cate-select-row" id="tr-id-@cata.CategoryId" >
                    <td>
                        <div>
                            @foreach(var animal in cata.Animals)
                {
                    <partial name="AnimalView" model="animal"/>
                }
                        </div>
                    </td>
                </tr>
            }            
            </tbody>
    </table>
</div>

