i {
    color: #1c0f13;
}

.anima-edit-box {
    display: flex;
    flex-direction: column;
}

.edit-box {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 0 0 5px 0;
}

    .edit-box .btn {
        margin: 5px;
    }

.admin-table-header {
    display: flex;
    justify-content: space-between;
}

    .admin-table-header a {
        font-size: 2em;
    }

select#category-select {
    font-size: 0.9em;
}
