.comment-box {
    background-color: rgba(255, 255, 255);
    display: flex;
    margin: 2px;
    padding: 2px 4px 4px 2px;
    justify-content: space-between;
    border-color: rgba(255,255,255,0.9);
    border-radius: 2px;
    border: 1px solid;
    transform: translateY(0px);
    transition: 0.2s linear;
}

.comment-box:hover{
    transform:translateY(-6px);
}

.comment-continer {
    padding: 2px;
    box-shadow: 0 2px 4px 1px grey;
    height: 50%;
}

.comments-scroll {
    overflow: auto;
    border-bottom: 1px solid #1c0f13;
    height: 85%;
    width: 100%;
    max-height: 250px;
}

.comment-box p {
    margin: 0;
}

.comment-para{
    display:flex;
    justify-content:center;
    height:100%;
}

.comment-table-div{
    width:95%;
    height:95%;
}


.comments-number-box {
    height:15%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    vertical-align:bottom;
    font-size: 0.6em;
}

.comments-number-box div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}