body {
    padding: 0;
    margin: 0;
    font-family: Verdana,sans-serif;
    background-color: #E2E2E2;
    font-size: 20px;
}

.btn {
    font-size: 0.9em;
    background-color: #1c0f13;
    border-radius:5px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    padding: 6px 12px;
    border:none;
    text-decoration: none;
}



    .btn:hover {
        background-color: #B7CECE;
        transform: scale(0.95);
    }

    .btn:active {
        position: relative;
        top: 1px;
    }


main {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.active {
    background-color: #6E7E85;
}

.error {
    color: orangered;
}

nav {
    position: fixed;
    top: 0;
    z-index: 6;
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    font-size: 0.8em;
}



div.footer-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

    div.footer-box div {
        display: inline-block;
        display: flex;
        justify-content: center;
    }

div.footer-line {
    background-color: lightgray;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 5px;
}

ul.footer-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

    ul.footer-links li {
        float: left;
    }

        ul.footer-links li a {
            font-size: 2em;
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            ul.footer-links li a:hover {
                color: dimgray;
            }


ul.horizontal-nav-bar {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1C0F13;
}

    ul.horizontal-nav-bar li {
        float: left;
    }

        ul.horizontal-nav-bar li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            ul.horizontal-nav-bar li a:hover:not(.active):not(.logo) {
                background-color: #B7CECE;
            }

.page-shadow-layer {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 5;
    visibility: collapse;
    background-color: rgba(28,20,19,0.9);
}

@media only screen and (max-width: 1200px) {
    body {
        font-size: 18px;
    }
}

@media only screen and (max-width: 700px) {
    body {
        font-size: 16px;
    }
}

@media only screen and (max-width: 500px) {
    body {
        font-size: 14px;
    }
}

@media only screen and (max-width: 401px) {
    body {
        font-size: 12px;
    }
}

@media only screen and (max-width: 400px) {
    body {
        font-size: 8px;
    }
}
