@model IEnumerable<PetShop.Application.ViewModels.AnimalViewModel>
@{
    ViewBag.HomeClss = "active";
    ViewBag.Title = "Home";
}

<div>
    <div>
        <h2>Best two Pets</h2>
    </div>
    <div>
        @foreach (var animal in Model)
            {
                <partial name="AnimalView" model="animal" />
            }
    </div>
</div>
