@model PetCatalog.MVC.ViewModels.AnimalViewModel
@inject PetCatalog.Application.Interfaces.ICategoryService categoryService
@{
    ViewBag.Title = "Pet Shop";
    ViewBag.AdminClss = "active";
    var categorys = categoryService.GetCategorys();
}

<script src="~/scripts/jquery/jquery.validate.min.js"></script>
<script src="~/scripts/jquery/jquery.validate.unobtrusive.min.js"></script>
<script src="~/scripts/CategoryFormSelect.js"></script>
<script src="~/scripts/ImageFormSelect.js"></script>

<link href="~/styles/NewAnimalFormStyle.css" rel="stylesheet" />

<div class="animal-form-continer">
    <div>
        <h2>Edit Animal</h2>
    </div>
    <div>
        <form enctype="multipart/form-data" method="post" asp-action="EditAnimal">
            <table>
                <tbody>
                    <tr style="visibility:collapse">
                        <td>
                            <input asp-for="AnimalId" type="number" value="@Model.AnimalId" readonly />
                            <input asp-for="ImageName" type="text" value="@Model.ImageName" readonly />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="Name"></label>
                        </td>
                        <td colspan="2">
                            <input asp-for="Name" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span class="error" asp-validation-for="Name"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="Age"></label>
                        </td>
                        <td colspan="2">
                            <input asp-for="Age" type="number" />

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span class="error" asp-validation-for="Age"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="Image"></label>
                        </td>
                        <td>
                            <div class="image-box">
                                <img class="selected-image" src="~/res/images/animals/@Model.ImageName" />
                                <label asp-for="Image" class="custom-file-label">Choose an image...</label>
                                <input asp-for="Image" type="file" class="custom-file-input" accept="image/gif, image/jpeg, image/png , image/jpg , image/webp" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span class="error" asp-validation-for="Image"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="Description"></label>
                        </td>
                        <td colspan="2">
                            <textarea asp-for="Description"></textarea>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span class="error" asp-validation-for="Description"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="CategoryId"></label>
                        </td>
                        <td colspan="2">

                            <select id="category-select" asp-for="CategoryId" type="text"
                                    asp-items="@(new SelectList(categorys,"CategoryId","Name"))">
                                <option value="0" selected disabled>- Select Category -</option>
                                <option value="-1">- New Category -</option>
                            </select>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span class="error" asp-validation-for="CategoryId"></span>
                        </td>
                    </tr>
                    <tr id="category-name">
                        <td>
                            <label asp-for="CategoryName"></label>
                        </td>
                        <td colspan="2">
                            <input id="category-name-filed" asp-for="CategoryName" type="text" />

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span class="error" asp-validation-for="CategoryName"></span>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <button class="btn" type="submit">Save</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>

</div>