@model IEnumerable<PetCatalog.MVC.ViewModels.CategoryViewModel>

@{
    ViewBag.Title = "Pet Shop";
    ViewBag.AdminClss = "active";
    ViewBag.EnableCommentDelete = true;
}
<script src="~/scripts/CategorySelect.js"></script>
<script src="~/scripts/AnimalView.js"></script>


<div>
    <div>
        <h2>Animals</h2>
    </div>

    <div>


        <div>

            <table>
                <thead>
                    <tr>
                        <td>
                            <div class="admin-table-header">
                                <select id="cata-select" asp-items="@(new SelectList(Model,"CategoryId","Name"))">
                                    <option value="-1" selected>All</option>
                                </select>
                                <a asp-action="AnimalForm" asp-route-id="0"><i class="far fa-plus-square" title="Add Animal"></i></a>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cata in Model)
                    {
                        <tr class="cate-select-row" id="tr-id-@cata.CategoryId">
                            <td>
                                <div>
                                    @foreach (var animal in cata.Animals)
                                    {
                                    <div class="anima-edit-box">
                                        <div class="edit-box">
                                            <a asp-action="DeleteAnimal" asp-route-id="@animal.AnimalId" class="btn">Delete</a>
                                            <a asp-action="AnimalForm" asp-route-id="@animal.AnimalId" class="btn">Edit</a>
                                        </div>
                                        <partial name="AnimalView" model="animal" />
                                    </div>
                                    }

                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

