@{
    ViewBag.Title = "Pet Shop";
    ViewBag.AdminClss = "active";
}

<div>
    <div>
        <h2>Animals</h2>
    </div>
    <div>
        <a asp-action="NewAnimal"><i style="font-size:x-large" class="fa-plus-square" title="Add Animal"></i></a>
    </div>
    
</div>

