@model PetCatalog.MVC.Models.AnimalFormModel
@{
    ViewBag.Title = "Pet Shop";
    ViewBag.AdminClss = "active";
}

<script src="~/scripts/jquery/jquery.validate.min.js"></script>
<script src="~/scripts/jquery/jquery.validate.unobtrusive.min.js"></script>
<script src="~/scripts/CategoryFormSelect.js"></script>
<script src="~/scripts/ImageFormSelect.js"></script>

<link href="~/styles/NewAnimalFormStyle.css" rel="stylesheet" />
<div class="animal-form-continer">
    <div>
        <h2>Add New Animal</h2>
    </div>
    <div>
        <form enctype="multipart/form-data" method="post" asp-action="AddAnimal">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <label asp-for="Animal.Name"></label>
                        </td>
                        <td>
                            <input asp-for="Animal.Name" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span class="error" asp-validation-for="Animal.Name"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="Animal.Age"></label>
                        </td>
                        <td>
                            <input asp-for="Animal.Age" type="number" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span class="error" asp-validation-for="Animal.Age"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="Image"></label>
                        </td>
                        <td>
                            <div class="image-box">
                                <img class="selected-image" src="~/res/images/animals/default.png" />
                                <label asp-for="Image" class="custom-file-label">Choose a file</label>
                                <input asp-for="Image" type="file" class="custom-file-input" accept="image/gif, image/jpeg, image/png , image/jpg , image/webp"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span class="error" asp-validation-for="Image"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="Animal.Description"></label>
                        </td>
                        <td>
                            <textarea asp-for="Animal.Description"></textarea>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span class="error" asp-validation-for="Animal.Description"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="CategoryId"></label>
                        </td>
                        <td>

                            <select id="category-select" asp-for="CategoryId" type="text"
                                    asp-items="@(new SelectList(Model.Categorys,"CategoryId","Name"))">
                                <option value="0" selected disabled>- Select Category -</option>
                                <option value="-1">- New Category -</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span class="error" asp-validation-for="CategoryId"></span>
                        </td>
                    </tr>
                    <tr id="category-name">
                        <td>
                            <label asp-for="CategoryName"></label>
                        </td>
                        <td>
                            <input id="category-name-filed" asp-for="CategoryName" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span class="error" asp-validation-for="CategoryName"></span>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <button class="btn" type="submit">Add Animal</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>

</div>

