@model PetShop.Application.ViewModels.AnimalViewModel

<div class="animal-box">
    <div class="animal-header">
        <img src="~/res/images/animals/@Model.ImageName" class="animal-image" />
        <h2>@Html.DisplayFor(m=>m.Name)</h2>
    </div>
    <div>
        <p>
            @Html.DisplayFor(m=>m.Description)
        </p>
    </div>
</div>