@model PetShop.Application.ViewModels.CommentViewModel

<div>
    <form enctype="multipart/form-data" method="post" asp-controller="Comments" asp-action="DeleteComment">
        <div style="display:flex">
            <p>@Html.DisplayFor(c => c.Value)</p>
            <button type="submit">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
        </div>
    </form>
</div>