@model IEnumerable<PetCatalog.Application.ViewModels.AnimalViewModel>
@{
    ViewBag.HomeClss = "active";
    ViewBag.Title = "Home";
    ViewBag.EnableCommentDelete = false;
}
<script src="~/scripts/AnimalView.js"></script>
<div>
    <div>
        <h2>Best two Pets</h2>
    </div>
    <div>
        @foreach (var animal in Model)
            {
                <partial name="AnimalView" model="animal" />
            }
    </div>
</div>
